@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kom-post';
    src: url('/fonts/kom-post.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Shakyhands';
    src: url('/fonts/shakyhands.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mahone Sans';
    src: url('/fonts/MahoneSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'BirchCTT';
    src: url('/fonts/birchctt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circo';
    src: url('/fonts/circo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NinaCTT';
    src: url('/fonts/ninactt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Plovdiv';
    src: url('/fonts/plovdiv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Slimamif';
    src: url('/fonts/slimamif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Teslic's Document Cyr";
    src: url('/fonts/teslics-document-cyr-normal.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Tuffy';
    src: url('/fonts/tuffy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  


  